@import (less) "pure/pure-min.css";
@import (less) "pure/grids-responsive-min.css";

@darkgray: #2b2b2b;
@lightgray: #cccccc;
@boot-yellow: rgb(237, 196, 24);
@tan: fade(lighten(@boot-yellow, 25), 70);

/* workaround for refresh issues in webkit-based browsers */
@-webkit-keyframes androidBugfix {from { padding: 0; } to { padding: 0; }}
body { -webkit-animation: androidBugfix infinite 1s; }
/* end workaround */

.londrina {
  font-family: 'Londrina Sketch', cursive;
}

.shortstack {
  font-family: 'Short Stack', cursive;
}

.all-caps {
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/bg.jpg');
  text-align: center;
  font-size: 16px;
}

a {
  color: @darkgray;
}

@media screen and (min-width: 31.42em) {

  .sidebar {
    top: 0;
    left: 0;
    position: fixed;
    width: 33%;
  }

  .content {
    margin-left: 33%;
    width: 66%;
  }
}

.sidebar {

  img {
    padding-top: 24px;
    border-radius: 60px;
    background: radial-gradient(#fff, rgba(0,0,0,0) 70%);
  }

  h1 {
    margin-top: 0;
    margin-bottom: 12px;
    color: @tan;
    font-size: 64px;
    text-shadow: 0 0 10px black;
    letter-spacing: 4px;
  }

  h3 {
    color: @tan;
  }
}

div.search {
  padding-bottom: 2em;
  p {
    color: #fff;
  }
  input {
    min-width: 50%;
    background: #eee;
  }
}

// @count-size: 200px;

// p.count {
//   width: @count-size;
//   height: @count-size;
//   border-radius: (@count-size / 2);
//   margin: 0 auto;
//   display: block;
//   background: @tan;
//   color: #2b2b2b;
//   font-weight: bold;
//   text-align: center;
//   font-size: (@count-size / 2);
//   line-height: @count-size;
//   letter-spacing: 4px;
//   box-shadow: 0 0 10px olive;
// }

button {
  // .pure-button;
}

.placeholder(@color) {
  ::-webkit-input-placeholder {
    color: @color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: @color;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: @color;
  }
  :-ms-input-placeholder {  
    color: @color;
  }
}

div.repos {

  .controls {
    span {
      color: @tan;
    }
  }
  .sort {
    select {
      margin: 4px;
      padding: 2px 4px;
      background: @tan;
      border: 1px black solid;
    }
  }
  .filter {
    input::-webkit-input-placeholder {
      color: #5a5a5a;
    }
    input {
      background: @tan;
      border: 1px black solid;
    }
  }
  .list-container {
  }

  .row-container:nth-child(odd) {
    background: fade(@tan, 50);
  }
  .row-container:nth-child(even) {
    background: @tan;
  }

  .row-container {
    .pure-g;
    // flex-direction: row;
    // align-items: center;
    // justify-content: left;
    text-align: left;
    div {
      padding-right: 12px;
    }
    .row-item {
      .pure-u-1-6;
      padding: 0.25em 0.5em;
      display: flex;
      flex-grow: 1;
      img {
        display: block;
      }
      align-items: center;
    }
    .row-item.repo {
      .pure-u-2-3;
      display: flex;
      flex-direction: row;
    }
  }

}

